.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .boton {
  background-color: #CF3F37;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #7a4c49;
  min-width: 160px;
  z-index: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #F9EAE9;
}

.dropdown-menu li {
  padding: 8px 12px;
}

.dropdown-menu li a {
  color: #333;
  text-decoration: none;
  display: block;
}

.dropdown-menu li a:hover {
  background-color: #503E3D;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
