<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FAV ICON -->
    <link rel="icon" type="image/x-icon" href="../img/logo.png">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- LINK CSS -->
    <link rel="stylesheet" href="../css/styles.css">

    <!--  Bootstrap Bundle  -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>Ramiro Palma Juana Monteagudo /Mañana /2023</title>
</head>
<body id="somos">

    <!--  NAV -->
    <nav class="navbar navbar-dark navbar-expand-lg sticky-top bg_red">
        <div class="container-fluid">
            
            <a href="../index.html">
                <img src="../img/logo.png"   alt="logo de empersa"  width="100%" height="80px">
            </a>    
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">            
                <ul class="navbar-nav main_font ">
                    <li class="nav-item">
                        <a class="nav-link font_white" href="../index.html#productos">PRODUCTOS</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link font_white" href="../views/reserva.html">RESERVAR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font_white" href="#somos">QUIENES SOMOS</a>
                    </li>           
                </ul>
            
            </div>
        </div>
        
    </nav>
    

    <!-- SECCION CONTACTO -->
    <div class="col-sm-12 text-center main_font bg_burger_f font_white p-5">

    <aside class="row">
    <section class="col-lg-6 col-sm-12 mb-4 mt-5 mb-5">
        <h3 >QUIENES SOMOS</h3>
        <div>
        
        <div class="borderBot pb-1 pt-3">
            <p>✓ Fundado en 1999.</p>
        </div>
        
        <div class="borderBot pb-1 pt-3">
            <p>✓ Pasión por las hamburguesas</p>
        </div>
        
        <div class="borderBot pb-1 pt-3">
            <p>✓ Entregas inmediatas</p>
        </div>
        
        <div class="borderBot pb-1 pt-3">
            <p>✓ Locales en todo zona sur</p>
        </div>
        </div>
    </section>



    <section class="col-lg-6 col-sm-12 mb-4 mt-5 pr-3">
        <h3 >CLIENTES SATISFECHOS</h3>
        <div class="text-start ">
        
        <div class="borderBot pb-1 pt-3">
            <p>✓ Variedad y calidad sorprendente:</p>
        </div>
        
        <div class="borderBot pb-1 pt-3">
            <p>✓ Jugosidad y frescura insuperables:</p>
        </div>
        
        <div class="borderBot pb-1 pt-3">
            <p>✓ Presentación impecable y sabores excepcionales</p>
        </div>
        
        <div class="borderBot pb-1 pt-3">
            <p>✓ Atención al detalle y pasión por la comida</p>
        </div>
        </div>
    </section>
    </aside>

    </div>

    <div>
        <h2 class="header_3 main_font">CONTACTANOS</h2>
    </div>

    <form class="form_reserva main_font mt-5 mb-5 border border-5 rounded">
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label col">Nombre</label>
            <div >
            <input class="form-control" type="text" placeholder="Ingrese su nombre">
        </div>
        </div>
        <div class="form-group row">
            <label for="phone">Whatsapp</label>
        <div class="col-sm-10">
            <input type="tel" id="phone" name="phone">
        </div>
        </div>
        <div class="form-group row mt-2">
            <div class="col-sm-10">
            <button type="submit" class="btn btn-danger">Enviar</button>
            </div>
        </div>
    </form>    


    <!-- FOOTER -->

    <footer class="bg_crema">
        <div class="linea_footer">
            <img  class="logo_footer_absolute"  src="../img/logo.png" alt="logo empresa">
        </div>

        <div class="d-flex justify-content-center ">
            <a href="https://www.facebook.com" target="_blank" class="main_font font_roja footer_style"><img src="../img/facebook.png" alt="logo facebook" width="100" height="100" class="img_footer">KrustyFB</a>
            <a href="https://www.instagram.com" target="_blank" class="main_font font_roja"><img src="../img/instagram.png" alt="logo instagram" width="100" height="100" class="img_footer">@krusty_krab</a>
            <a href="https://web.whatsapp.com" target="_blank" class="main_font font_roja"><img src="../img/whatsapp.png" alt="logo wpp" width="100" height="100" class="img_footer">+1188447733</a>
        </div>

        <div class="main_font font_roja">
            <p>RAMIRO PALMA - JUANA MONTEAGUDO / DESAROLLO WEB 2C 2023</p>
        </div>
    </footer>

</body>
</html>