.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .boton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
}

.dropdown-menu li {
  padding: 8px 12px;
}

.dropdown-menu li a {
  color: #333;
  text-decoration: none;
  display: block;
}

.dropdown-menu li a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
